body {
    font-family: Arial, sans-serif;
    background-color: #43A6C6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 50px;
}

form {
    background: #fff;
    margin: 50px auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #000;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button[type="submit"] {
    background-color: #43A6C6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#prediction-result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}